<!-- handles home page content, currently hardcoded, will be removed soon 
https://codepen.io/mhrkit/pen/GGqdvr
https://codepen.io/techiediaries/pen/MWgVKZW
-->
{% extends "layout.html" %}

{% block content %}

<!-- HEADER -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-75 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light custom-header-font" style="font-size: 40px;">Say Hello To Affordable Textbooks</h1>
        <p class="lead custom-header-font">Never Overpay For Textbooks Again</p>
      </div>
    </div>
  </div>
</header>

<!-- SEARCH BAR -->
<div class="container" style="padding-top: 15px; padding-bottom: 15px;">
  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
  </div>
</div>

<!-- CARDS WITH TEXTBOOK DATA (HARDCODED BOOKS FOR NOW)-->
<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="card-deck">
    <div class="row row-cols-4 row-cols-md-4">
      <div class="col">
        <div class="card">
          <img class="card-img-top"
            src="https://images-na.ssl-images-amazon.com/images/I/51vD3Z9Sb+L._SX356_BO1,204,203,200_.jpg" class="img-fluid"
            alt="book cover">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Book Title: Organic Chemistry</li>
            <li class="list-group-item">ISBN-10: 9352531965</li>
            <li class="list-group-item">Condition: Fair</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Inquiry About Buying</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top"
            src="https://images-na.ssl-images-amazon.com/images/I/51FWXX9KWVL._SX384_BO1,204,203,200_.jpg"
            class="img-fluid" alt="book cover">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Book Title: Calculus: An Intuitive and Physical Approach</li>
            <li class="list-group-item">ISBN-10: 9780486404530</li>
            <li class="list-group-item">Condition: Good</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Inquiry About Buying</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top"
            src="https://images-na.ssl-images-amazon.com/images/I/51FWXX9KWVL._SX384_BO1,204,203,200_.jpg" class="img-fluid"
            alt="book cover">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Book Title: Compilers: Principles, Techniques, and Tools</li>
            <li class="list-group-item">ISBN-10: 0201100886</li>
            <li class="list-group-item">Condition: Bad</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Inquiry About Buying</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top"
            src="https://images-na.ssl-images-amazon.com/images/I/51FWXX9KWVL._SX384_BO1,204,203,200_.jpg" class="img-fluid"
            alt="book cover">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Book Title: Compilers: Principles, Techniques, and Tools</li>
            <li class="list-group-item">ISBN-10: 0201100886</li>
            <li class="list-group-item">Condition: Bad</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Inquiry About Buying</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top"
            src="https://images-na.ssl-images-amazon.com/images/I/51FWXX9KWVL._SX384_BO1,204,203,200_.jpg" class="img-fluid"
            alt="book cover">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Book Title: Compilers: Principles, Techniques, and Tools</li>
            <li class="list-group-item">ISBN-10: 0201100886</li>
            <li class="list-group-item">Condition: Bad</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Inquiry About Buying</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}