<!-- handles home page content, currently hardcoded, will be removed soon 
https://codepen.io/mhrkit/pen/GGqdvr
https://codepen.io/techiediaries/pen/MWgVKZW
-->
{% extends "layout.html" %}

{% block content %}

<!-- HEADER -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-75 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light custom-header-font" style="font-size: 40px;">Say Hello To Affordable Textbooks</h1>
        <p class="lead custom-header-font">Never Overpay For Textbooks Again</p>
      </div>
    </div>
  </div>
</header>

<!-- SEARCH BAR -->
<div class="container" style="padding-top: 15px; padding-bottom: 15px;">
  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Looking for something more specific?" aria-label="Search"
      aria-describedby="search-addon"/>
    <button type="button" class="btn btn-outline-primary" style="padding-left: 5px;">search</button>
  </div>
</div>

<div class="container">
  <!-- warning message popup -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        {% with messages =get_flashed_messages(with_categories=true) %}
        {%if messages%}
        {%for category, message in messages%}
        <div class="alert alert-{{category}}">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
            </button>
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {%endwith%}
      </div>
    </div>
  </main>
</div>

<!-- CARDS WITH TEXTBOOK DATA -->
<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="card-group">
    <div class="row">
        {% for post in posts %}
            <div class="col-md-3">
                <div class="card" style="width: 15rem; ">
                    <img class="card-img-top"
                         src="{{ url_for('static', filename='posts/'+post.cover_photo) }}"
                         class="img-fluid"
                         alt="book cover">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Book Title: {{ post.title }}</li>
                        <li class="list-group-item">ISBN-10: {{ post.isbn }}</li>
                        <li class="list-group-item">Condition: {{ post.book_condition }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Inquiry About Buying</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}