<!-- handles user account page content -->
{% extends "layout.html" %}

{% block css %}

{% endblock %}

{% block content %}

<div class="container" style="background-color: white; padding-top: 20px;">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-3 mb-3" style="padding-top: 100px;">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ url_for('static', filename='uploads/'+ profile.image_file) }}" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ profile.username }}</h4>
                                <p class="text-secondary mb-1">Email for Contact</p>
                                <p class="text-muted font-size-sm">{{ profile.email }}</p>
                                {# <button class="btn btn-primary">Follow</button>#}
                                <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="container">
                    <h3 style="text-align: center;">YOUR BOOKSHELF</h3>
                    <hr>
                    <div class="container">
                        <div class="card-group">
                            <div class="row">
                                {% for post in posts %}
                                <div class="col-md-4 mb-3">
                                    <div class="card mx-auto h-100 shadow-lg p-3 mb-5 rounded"
                                        style="width:15rem; background-color: #ebedf0;">
                                        <div class="wrapper">
                                            <img class="card-img-top"
                                                src="{{ url_for('static', filename='posts/'+post.cover_photo) }}"
                                                class="img-fluid" alt="book cover">
                                            </img>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><b>{{ post.title }}</b></h5>
                                            <h6 class="card-subtitle mb-2 text-muted">ISBN-10: <b>{{ post.isbn }}</b>
                                            </h6>
                                            <h6 class="card-subtitle mb-2 text-muted">Condition:
                                                <b>{{post.book_condition}}</b></h6>
                                            <a href="delete_post/{{ post.id }}"
                                                class="card-link btn btn-outline-primary">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}