.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('homepage_header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.custom-header-font {
    font-family: 'DotGothic16', sans-serif !important;
}

.btn-primary.custom-btn {
	background-color: black;
	border-color: white;
    color: white;
}

.wrapper {
    position: relative;
    overflow: hidden;
  }
  
.wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
}
  
.wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}